/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para el encabezado de la página */
nav {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

#userContainer {
    position: relative;
}

#userName {
    cursor: pointer;
}

#dropdownMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#userContainer.show #dropdownMenu {
    display: block;
}

.dropdown-item {
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

/* Estilos para el formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

form h2 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos específicos para login y register */
.login-container, .register-container, .appointments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container form, .register-container form, .appointments-container form {
    width: 300px; /* Ancho fijo para formularios */
}

/* Estilos para la lista de citas */
#appointmentsList {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#appointmentsList li {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para botones */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para mensajes de error */
.error-message {
    color: red;
    margin-top: 10px;
}
